<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <substitutionProperty name="log.base" value="/Users/chenyuan/Data/logs/vernon-netty"/>
    <jmxConfigurator/>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoding>UTF-8</encoding>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{80}:%method[%line] %msg%n</pattern>
        </layout>
    </appender>

    <appender name="logfile"  class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoding>UTF-8</encoding>
        <file>${log.base}/app.log</file>
        <append>true</append>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.base}/app.%d{yyyy-MM-dd-HH}.log.zip</fileNamePattern>
            <maxHistory>48</maxHistory>
        </rollingPolicy>

        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{80}:%method[%line] %msg%n</pattern>
        </layout>
    </appender>

    <logger name="com.vernon.netty">
        <level value="DEBUG" />
        <appender-ref ref="stdout" />
        <appender-ref ref="logfile" />
    </logger>

</configuration>